:root {
  --primary-Red: hsl(1, 90%, 64%);
  --primary-Blue: hsl(219, 85%, 26%);

  --neutral-White: hsl(0, 0%, 100%);
  --neutral-Very-light-grayish-blue: hsl(210, 60%, 98%);
  --neutral-Light-grayish-blue-1: hsl(211, 68%, 94%);
  --neutral-Light-grayish-blue-2: hsl(205, 33%, 90%);
  --neutral-Grayish-blue: hsl(219, 14%, 63%);
  --neutral-Dark-grayish-blue: hsl(219, 12%, 42%);
  --neutral-Very-dark-blue: hsl(224, 21%, 14%);

  --font-size: 1rem;
  --fw-500: 500;
  --fw-800: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  padding-top: 40px;
  display: grid;
  place-content: center;
  background-color: var(--neutral-Very-light-grayish-blue);
}

/* container */
.container {
  background-color: var(--neutral-White);
  max-width: 750px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 0.5rem;
  padding: 2rem;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notification-msg {
  color: var(--neutral-Dark-grayish-blue);
}
.unread .unread-discription::after {
  content: "";
  height: 10px;
  width: 10px;
  background-color: var(--primary-Red) !important;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.notification-name {
  color: var(--neutral-Very-dark-blue);
}

.mark-all {
  color: var(--neutral-Dark-grayish-blue);
  text-decoration: none;
}
.unread-hover:hover {
  color: var(--primary-Blue);
  cursor: pointer;
}

/* card-container */
.card {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
}
.unread {
  background-color: var(--neutral-Light-grayish-blue-1) !important;
}

.card-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}
.card-container img {
  height: 50px;
}

.card-container .chat-image {
  margin-left: auto;
}

/* private message */
.private-msg {
  margin: 1rem 0 1rem 3.5rem;
  border: 2px solid var(--neutral-Grayish-blue);
  border-radius: 0.3rem;
  color: var(--neutral-Dark-grayish-blue);
}
.private-msg:hover {
  background-color: var(--neutral-Light-grayish-blue-1);
  cursor: pointer;
}
.private-msg p {
  padding: 1rem;
}

.msg {
  padding: 0.5rem;
  font-size: 14px;
  font-weight: var(--fw-800);
  border-radius: 0.3rem;
  background-color: var(--primary-Blue);
  color: var(--neutral-White);
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
  margin: 3rem 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 48rem) {
  .notification {
    font-size: 0.813rem;
  }
}
